page-ranking {
  ion-col div {
    background-color: white;
    border: 0px solid #e6e9ee;
    //border-radius: 2px;
    padding: 5px;
    text-align: center;
  }
  ion-col .top {
    border-bottom: solid 2px orange;
  }
}
